<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Billeteras</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="src/script.js"></script>
</head>
<body>
    <head>

    </head>
    <main>
        <div class="agregado">
            <input type="text" id="nombre" placeholder="Nombre y Apellido" required>
            <input type="text" id="tarjeta" placeholder="Nombre de la Tarjeta" required>
            <input type="number" id="numero" placeholder="Pago" required>
            <button onclick="mostrar()">Agregar Tarjeta</button>
            <button onclick="mostrarTarjetasMasUsadas()">Mostrar Tarjetas Más Usadas</button>

        </div>
        <div class="listado">
            <h1>
                Lista de Billeteras y Uso
            </h1>
            <div>
                <ul id="resultado">

                </ul>
            </div>
        </div>
        <div class="consumos">
            <h2>
                Mayores Consumos
            </h2>
            <div>
                <ul id="resultadoMasUsadas">

                </ul>
            </div>
        </div>
    </main>
</body>
</html>